.tooltip {
  --reach-tooltip: 9999;
  z-index: 9999;
  /* pointer-events: none;
  position: absolute;
  padding: 4px 16px;
  box-shadow: 0 4px 4px -2px hsla(0, 0%, 0%, 0.25);
  border-radius: 9999px;
  white-space: nowrap; */
  /* background: var(--color-body-text-100); */
  /* color: var(--color-body-background); */
  /* font-family: var(--font-family-sans); */
  /* font-weight: var(--font-weight-sans-bold); */
  /* font-size: 15px; */
  /* transform: translateX(16px); */
  @apply bg-green-500 text-yellow-500;
}
