root = true

[*]
indent_style = space
indent_size = 2
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[{*.c,*.cc,*.cpp,*.cs,*.d,*.go,*.h,*.hh,*.hpp,*.java,*.js,*.jsx,*.m,*.mm,*.mpp,*.ng,*.php,*.rs,*.swift,*.ts,*.tsx}]
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside
# close enough to 1TB
indent_brace_style = K&R
