# folders
.cache
.lighthouseci
.next
.vercel
coverage
e2e-report
e2e-results
node_modules
out
storybook-static
zzz

# public
public/scripts/**
next-env.d.ts

# next-pwa
/public/fallback-*.js
/public/sw.js
/public/workbox-*.js

# ts
jest.config.ts

# transition
todo/**

# lock
package-lock.json
pnpm-lock.yaml
yarn.lock
