auto-install-peers=false
dedupe-peer-dependents=false
ignore-dep-scripts=false
enable-pre-post-scripts=true # next-sitemap requirement
lockfile=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-dependencies=false
tag-version-prefix=""
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]=*biome*
public-hoist-pattern[]=*ccommit*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*lint-staged*
public-hoist-pattern[]=*playwright*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*semantic*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*testing-library*
public-hoist-pattern[]=*types*
# @note(pnpm) avoid if possible
# shamefully-hoist=true

# # # # #
# #
# # @hack(turbopack) for localized development (not ci)
# #                  does not work yet, please keep using webpack
# #
# # -arch=arm64 --platform=darwin turbo
# # reference: https://pnpm.io/pnpm-cli#differences-vs-npm
# #
# # npm_config_target_arch=arm64
# # npm_config_target_platform=darwin
# #
# # pnpm install --config.target_arch=arm64 --config.target_platform=darwin --force
# #
