auto-install-peers=false
ignore-dep-scripts=true
lockfile=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-dependencies=false
tag-version-prefix=""
#
# @todo(pnpm) turn this off, or public-hoist top
shamefully-hoist=true

