node_modules
/.yarn
.yarn
**/_next/**
**/.dist/**
**/.next/**
**/.now/**
**/.types/**
**/.vercel/**
**/.vercel*/**
**/bundles/**
**/dist/**
**/out/**

**/deprecated/**
**/fonts/**
**/zzz--do-not-use/**
