node_modules
coverage
/.yarn
.yarn
**/_next/**
**/.cache/**
**/.dist/**
**/.lighthouseci/**
**/.next/**
**/.now/**
**/.swc/**
**/.types/**
**/.vercel/**
**/.vercel*/**
**/bundles/**
**/coverage/**
**/dist/**
**/e2e-report/**
**/e2e-results/**
**/out/**
**/storybook-static/**

**/deprecated/**
**/fonts/**
!/styles/fonts/**
**/zzz--do-not-use/**
**/zzz/**

public/scripts/**
next-env.d.ts

# next-pwa
/public/fallback-*.js
/public/sw.js
/public/workbox-*.js

# transition
todo/**

# lock
package-lock.json
pnpm-lock.yaml
yarn.lock
