/*! purgecss start ignore */
/* t = transition */
.ngop-t-0 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
}
.ngop-t-1 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
  transition-delay: calc(0.01s * var(--split-id));
}

.ngop-t-2 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
  transition-delay: calc(0.02s * var(--split-id));
}

.ngop-t-3 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
  transition-delay: calc(0.03s * var(--split-id));
}

.ngop-t-4 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
  transition-delay: calc(0.04s * var(--split-id));
}

.ngop-t-5 {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
  transition-delay: calc(0.05s * var(--split-id));
}

/* sd = slight-delay */
.ngop-t-sd {
  @apply md:transition-colors md:duration-300 md:ease-in-out;
}
/*! purgecss end ignore */
