.transition {
  transition: color 0.25s cubic-bezier(0.175, 0.75, 0.5, 1);
  transition-delay: calc(0.05s * var(--split-id));
}

.transition-slight-delay {
  transition: color 0.25s cubic-bezier(0.175, 0.75, 0.5, 1);
  transition-delay: 1.5s;
}
