[cmdk-overlay] {
  position: fixed;
  inset: 0;
  /* @note(cmdk) handled separately */
  /* background: var(--whiteA11); */
  transition: all 150ms ease;
  .dark & {
    /* @note(cmdk) handled separately */
    /* background: var(--blackA11); */
  }
}

#cmdk-wrapper {
  min-width: 640px;
  width: 100%;
  border-radius: 12px;
  padding: 8px 0;
  font-family: var(--font-geist-mono);
  box-shadow: var(--cmdk-shadow);
  position: relative;

  background: var(--whiteA12);
  /* border: 1px solid var(--blackA6); */
  border: 0;

  &:after {
    content: '';
    background: linear-gradient(
      to right,
      var(--blackA12) 20%,
      var(--blackA12) 40%,
      var(--blackA11) 50%,
      var(--blackA11) 55%,
      var(--blackA12) 70%,
      var(--blackA12) 100%
    );
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: shine 3s ease forwards 0.1s;
    background-size: 200% auto;
  }

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    box-shadow: 0 0 0 1px transparent;
    animation: border 1s linear forwards 0.5s;
  }

  .dark & {
    background: var(--blackA12);
    /* border: 1px solid var(--whiteA6); */
    border: 0;

    &:after {
      content: '';
      background: linear-gradient(
        to right,
        var(--whiteA6) 20%,
        var(--whiteA6) 40%,
        var(--whiteA10) 50%,
        var(--whiteA10) 55%,
        var(--whiteA6) 70%,
        var(--whiteA6) 100%
      );
      z-index: -1;
      position: absolute;
      border-radius: 12px;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      animation: shine 3s ease forwards 0.1s;
      background-size: 200% auto;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: 12px;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      box-shadow: 0 0 0 1px transparent;
      animation: border 1s linear forwards 0.5s;
    }
  }

  kbd {
    font-family: var(--font-geist-mono);
    height: 20px;
    width: 20px;
    border-radius: 4px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-left: 8px;
    }

    background: var(--whiteA1);
    color: var(--blackA12);
    border: 1px solid var(--blackA7);

    .dark & {
      background: var(--blackA1);
      border: 1px solid var(--whiteA7);
      color: var(--whiteA12);
    }
  }
}

[cmdk-input] {
  font-family: var(--font-geist-mono);
  border: none;
  width: 100%;
  font-size: 15px !important;
  padding: 8px 16px !important;
  outline: none;

  background: var(--whiteA2) !important;
  color: var(--blackA11);
  &::placeholder {
    color: var(--blackA8);
  }

  .dark & {
    background: var(--blackA2) !important;
    color: var(--whiteA11);
    &::placeholder {
      color: var(--whiteA8);
    }
  }

  &:focus {
    outline: none;
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

[cmdk-top-shine] {
  height: 1px;
  position: absolute;
  top: -1px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  animation: showTopShine 0.1s ease forwards 0.2s;

  background: linear-gradient(
    90deg,
    rgba(255, 212, 241, 0),
    var(--pink11) 20%,
    var(--pink10) 67.19%,
    rgba(255, 212, 241, 0)
  );
  .dark & {
    background: linear-gradient(
      90deg,
      rgba(56, 189, 248, 0),
      var(--pink5) 20%,
      var(--pink9) 67.19%,
      rgba(236, 72, 153, 0)
    );
  }
}

[cmdk-loader] {
  border: 0;
  width: 100%;
  width: 100%;
  left: 0;
  height: 1px;
  position: relative;
  overflow: visible;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;

  --loader-color: var(--pink9);
  background: var(--blackA6);
  .dark & {
    --loader-color: var(--pink3);
    background: var(--whiteA6);
  }

  &:after {
    content: '';
    width: 50%;
    height: 1px;
    position: absolute;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--loader-color) 50%,
      transparent 100%
    );
    top: -1px;
    opacity: 0;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-name: loading;
  }
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none;

  &:first-child {
    margin-top: 8px;
  }

  & + [cmdk-item] {
    margin-top: 4px;
  }

  svg {
    width: 18px;
    height: 18px;
  }

  color: var(--blackA12);
  &[data-selected='true'] {
    background: var(--blackA4);
    color: var(--blackA12);
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
      var(--pinkA7);
  }
  &[data-disabled='true'] {
    color: var(--blackA8);
    cursor: not-allowed;
  }
  &:active {
    transition-property: background;
    background: var(--blackA4);
  }
  &:focus,
  &:focus:active,
  &[data-active='true'] {
    transition-property: background;
    background: var(--blackA5);
  }

  .dark & {
    color: var(--whiteA12);
    &[data-selected='true'] {
      background: var(--whiteA4);
      color: var(--whiteA12);
    }
    &[data-disabled='true'] {
      color: var(--whiteA8);
      cursor: not-allowed;
    }
    &:active {
      transition-property: background;
      background: var(--whiteA4);
    }
    &:focus,
    &:focus:active,
    &[data-active='true'] {
      transition-property: background;
      background: var(--whiteA5);
    }
  }
}

[cmdk-meta] {
  margin-left: auto;
  font-size: 13px;
  color: var(--blackA11);
  .dark & {
    color: var(--whiteA11);
  }
}

[cmdk-list] {
  padding: 0 8px;
  height: 393px;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-padding-block-end: 40px;
  transition: 100ms ease;
  transition-property: height;
  padding-bottom: 40px;
}

[cmdk-open-trigger],
[cmdk-subcommand-trigger] {
  padding: 0px 4px 0px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  height: 28px;
  letter-spacing: -0.25px;
  color: var(--blackA11);
  .dark & {
    color: var(--whiteA11);
  }
}

[cmdk-open-trigger] {
  display: flex;
  align-items: center;
  color: var(--blackA12);
  .dark & {
    color: var(--whiteA12);
  }
}

[cmdk-subcommand-trigger] {
  display: flex;
  align-items: center;
  gap: 4px;
  right: 8px;
  bottom: 8px;

  svg {
    width: 14px;
    height: 14px;
  }

  hr {
    height: 100%;
    border: 0;
    width: 1px;

    background: var(--blackA6);
    .dark & {
      background: var(--whiteA6);
    }
  }

  &[aria-expanded='true'],
  &:hover {
    background: var(--blackA4);

    kbd {
      background: var(--blackA7);
    }
  }

  .dark & {
    &:hover {
      background: var(--whiteA4);

      kbd {
        background: var(--whiteA7);
      }
    }
  }
}

[cmdk-separator] {
  height: 1px;
  width: 100%;
  margin: 4px 0;
  background: var(--blackA5);
  .dark & {
    background: var(--whiteA5);
  }
}

*:not([hidden]) + [cmdk-group] {
  margin-top: 8px;
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;

  color: var(--blackA11);
  .dark & {
    color: var(--whiteA11);
  }
}

[cmdk-footer] {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 8px;
  border-radius: 0 0 12px 12px;
  backdrop-filter: blur(3px);
  background: var(--whiteA11);
  /* background: white; */
  border-top: 1px solid var(--blackA7);

  /* @media (prefers-color-scheme: dark) {
    background: var(--slate2);
  } */
  .dark & {
    background: var(--blackA11);
    border-top: 1px solid var(--whiteA7);
  }

  svg {
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin-right: auto;
  }

  hr {
    height: 12px;
    width: 1px;
    border: 0;
    margin: 0 4px 0px 12px;

    background: var(--blackA6);
    .dark & {
      background: var(--whiteA6);
    }
  }
}

[cmdk-dialog] {
  z-index: var(--layer-portal);
  position: fixed;
  left: 50%;
  top: var(--page-top);
  transform: translateX(-50%);

  [cmdk] {
    width: 640px;
    transform-origin: center center;
    animation: dialogIn var(--transition-fast) forwards;
  }

  &[data-state='closed'] [cmdk] {
    animation: dialogOut var(--transition-fast) forwards;
  }
}

[cmdk-empty] {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  white-space: pre-wrap;
  color: var(--blackA7);
  .dark & {
    color: var(--whiteA7);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
    opacity: 0;
  }
}

@keyframes border {
  to {
    box-shadow: 0 0 0 1px var(--blackA1);
    .dark & {
      box-shadow: 0 0 0 1px var(--whiteA1);
    }
  }
}

@keyframes showTopShine {
  to {
    opacity: 1;
  }
}

.cmdk-submenu {
  [cmdk-root] {
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 8px;

    border: 1px solid var(--blackA6);
    background: var(--blackA2);
    .dark & {
      border: 1px solid var(--whiteA6);
      background: var(--whiteA2);
    }
  }

  [cmdk-list] {
    padding: 8px;
    overflow: auto;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
  }

  [cmdk-item] {
    height: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;

    color: var(--slate12);
    &[aria-selected='true'] {
      background: var(--slate5);
      color: var(--slate12);

      [cmdk-submenu-shortcuts] kbd {
        background: var(--slate7);
      }
    }

    /* &[aria-selected='true']:focus:active {
      background: var(--pink6);
      color: var(--slate11);

      [cmdk-submenu-shortcuts] kbd {
        background: var(--slate8);
      }
    } */

    &[aria-disabled='true'] {
      color: var(--slate8);
      cursor: not-allowed;
    }

    svg {
      width: 16px;
      height: 16px;
    }

    [cmdk-submenu-shortcuts] {
      display: flex;
      margin-left: auto;
      gap: 2px;

      kbd {
        font-family: var(--font-geist-mono);
        height: 20px;
        width: 20px;
        border-radius: 4px;
        padding: 0 4px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-of-type {
          margin-left: 8px;
        }

        background: var(--slate5);
        color: var(--slate11);
      }
    }
  }

  [cmdk-group-heading] {
    text-transform: capitalize;
    font-size: 12px;
    color: var(--slate11);
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 4px;
  }

  [cmdk-input] {
    padding: 12px;
    font-family: var(--font-geist-mono);
    border: 0;
    border-top: 1px solid var(--slate6);
    font-size: 13px;
    background: transparent;
    margin-top: auto;
    width: 100%;
    outline: 0;
    border-radius: 0;
  }

  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform-origin: var(--radix-popover-content-transform-origin);

  &[data-state='open'] {
    animation-name: slideIn;
  }

  &[data-state='closed'] {
    animation-name: slideOut;
  }

  [cmdk-empty] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    white-space: pre-wrap;
    font-size: 14px;
    color: var(--slate11);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.96);
  }
}

@media (max-width: 640px) {
  #cmdk-wrapper {
    display: none;
  }
}
