@tailwind base;

@tailwind components;
@tailwind utilities;

@import url('./chrome.css');
@import url('./safari.css');

.icon-custom svg {
  height: inherit;
  width: inherit;
  /* height: 2rem; */
  /* width: 2rem; */
}

.icon-custom.hero svg path {
  stroke-width: '1.5 !important';
}

/* @note(radix) should just keep green as a siteColor  */
:root {
  --green1: hsl(136 50% 98.9%);
  /* --green2: hsl(138 62.5% 96.9%);
  --green3: hsl(139 55.2% 94.5%);
  --green4: hsl(140 48.7% 91%);
  --green5: hsl(141 43.7% 86%); */
  --green6: hsl(143 40.3% 79%);
  /* --green7: hsl(146 38.5% 69%);
  --green8: hsl(151 40.2% 54.1%);
  --green9: hsl(151 55% 41.5%);
  --green10: hsl(152 57.5% 37.6%); */
  --green11: hsl(153 67% 28.5%);
  /* --green12: hsl(155 40% 14%); */
}

.dark {
  --green1: hsl(146 30% 7.4%);
  /* --green2: hsl(155 44.2% 8.4%);
  --green3: hsl(155 46.7% 10.9%);
  --green4: hsl(154 48.4% 12.9%);
  --green5: hsl(154 49.7% 14.9%); */
  --green6: hsl(154 50.9% 17.6%);
  /* --green7: hsl(153 51.8% 21.8%);
  --green8: hsl(151 51.7% 28.4%);
  --green9: hsl(151 55% 41.5%);
  --green10: hsl(151 49.3% 46.5%); */
  --green11: hsl(151 50% 53.2%);
  /* --green12: hsl(137 72% 94%); */
}

.spotify-button-outline {
  --tw-ring-color: var(--green6);
  background-color: var(--green1);
  border-color: var(--green6);
  border-width: 2px;
  color: var(--green11);
}
