@tailwind base;

@tailwind components;
@tailwind utilities;

@import url('./chrome.css');
@import url('./safari.css');
/* @import url('./cmdk.css'); */

.icon-custom svg {
  height: inherit;
  width: inherit;
  /* height: 2rem; */
  /* width: 2rem; */
}

.icon-custom.hero svg path {
  stroke-width: '1.5 !important';
}

.radix-themes {
  /* --default-font-family: var(--font-inter), var(--font-geist-sans), -apple-system, */
  --default-font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont,
    'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui,
    sans-serif, 'Apple Color Emoji';
  /* --code-font-family: var(--font-geist-mono), 'Menlo', 'Consolas (Custom)',
    'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji'; */
  /* --code-font-weight: 200; */
  font-feature-settings: 'calt', 'zero', 'cv01', 'cv02', 'cv03', 'cv04', 'cv05',
    'cv06', 'cv08', 'cv09', 'cv10', 'cv11';
  font-variation-settings: 'opsz' 32;
}

/* @hack(radix) when notion sends a color (background|text) */
/*  it can map to radix-ui, but since we do not want to load */
/*  every single radix-ui color, we do an extra step to load */
/*  them here manually... */
/*  */
/*  This avoids the `A` colors, but still, do not need all 12 */
/*  */
/* reference: ../src/notion */
:root {
  /* --gray1: hsl(0, 0%, 99%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9%); */
  /* --brown1: hsl(30, 40%, 99.1%);
  --brown2: hsl(30, 50%, 97.6%);
  --brown3: hsl(30, 52.5%, 94.6%);
  --brown4: hsl(30, 53%, 91.2%);
  --brown5: hsl(29, 52.9%, 86.8%);
  --brown6: hsl(29, 52.5%, 80.9%);
  --brown7: hsl(29, 51.5%, 72.8%);
  --brown8: hsl(28, 50%, 63.1%);
  --brown9: hsl(28, 34%, 51%);
  --brown10: hsl(27, 31.8%, 47.6%);
  --brown11: hsl(25, 30%, 41%);
  --brown12: hsl(20, 30%, 19%);
  --orange1: hsl(24, 70%, 99%);
  --orange2: hsl(24, 83.3%, 97.6%);
  --orange3: hsl(24, 100%, 95.3%);
  --orange4: hsl(25, 100%, 92.2%);
  --orange5: hsl(25, 100%, 88.2%);
  --orange6: hsl(25, 100%, 82.8%);
  --orange7: hsl(24, 100%, 75.3%);
  --orange8: hsl(24, 94.5%, 64.3%);
  --orange9: hsl(24, 94%, 50%);
  --orange10: hsl(24, 100%, 46.5%);
  --orange11: hsl(24, 100%, 37%);
  --orange12: hsl(15, 60%, 17%);
  --yellow1: hsl(60, 54%, 98.5%);
  --yellow2: hsl(52, 100%, 95.5%);
  --yellow3: hsl(55, 100%, 90.9%);
  --yellow4: hsl(54, 100%, 86.6%);
  --yellow5: hsl(52, 97.9%, 82%);
  --yellow6: hsl(50, 89.4%, 76.1%);
  --yellow7: hsl(47, 80.4%, 68%);
  --yellow8: hsl(48, 100%, 46.1%);
  --yellow9: hsl(53, 92%, 50%);
  --yellow10: hsl(50, 100%, 48.5%);
  --yellow11: hsl(42, 100%, 29%);
  --yellow12: hsl(40, 55%, 13.5%);
  --green1: hsl(136, 50%, 98.9%);
  --green2: hsl(138, 62.5%, 96.9%);
  --green3: hsl(139, 55.2%, 94.5%);
  --green4: hsl(140, 48.7%, 91%);
  --green5: hsl(141, 43.7%, 86%);
  --green6: hsl(143, 40.3%, 79%);
  --green7: hsl(146, 38.5%, 69%);
  --green8: hsl(151, 40.2%, 54.1%);
  --green9: hsl(151, 55%, 41.5%);
  --green10: hsl(152, 57.5%, 37.6%);
  --green11: hsl(153, 67%, 28.5%);
  --green12: hsl(155, 40%, 14%);
  --blue1: hsl(206, 100%, 99.2%);
  --blue2: hsl(210, 100%, 98%);
  --blue3: hsl(209, 100%, 96.5%);
  --blue4: hsl(210, 98.8%, 94%);
  --blue5: hsl(209, 95%, 90.1%);
  --blue6: hsl(209, 81.2%, 84.5%);
  --blue7: hsl(208, 77.5%, 76.9%);
  --blue8: hsl(206, 81.9%, 65.3%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(208, 100%, 47.3%);
  --blue11: hsl(211, 100%, 43.2%);
  --blue12: hsl(211, 100%, 15%);
  --purple1: hsl(280, 65%, 99.4%);
  --purple2: hsl(276, 100%, 99%);
  --purple3: hsl(276, 83.1%, 97%);
  --purple4: hsl(275, 76.4%, 94.7%);
  --purple5: hsl(275, 70.8%, 91.8%);
  --purple6: hsl(274, 65.4%, 87.8%);
  --purple7: hsl(273, 61%, 81.7%);
  --purple8: hsl(272, 60%, 73.5%);
  --purple9: hsl(272, 51%, 54%);
  --purple10: hsl(272, 46.8%, 50.3%);
  --purple11: hsl(272, 50%, 45.8%);
  --purple12: hsl(272, 66%, 16%); */
  --pink1: hsl(322, 100%, 99.4%);
  --pink2: hsl(323, 100%, 98.4%);
  --pink3: hsl(323, 86.3%, 96.5%);
  --pink4: hsl(323, 78.7%, 94.2%);
  --pink5: hsl(323, 72.2%, 91.1%);
  --pink6: hsl(323, 66.3%, 86.6%);
  --pink7: hsl(323, 62%, 80.1%);
  --pink8: hsl(323, 60.3%, 72.4%);
  --pink9: hsl(322, 65%, 54.5%);
  --pink10: hsl(322, 63.9%, 50.7%);
  --pink11: hsl(322, 75%, 46%);
  --pink12: hsl(320, 70%, 13.5%);
  /* --red1: hsl(359, 100%, 99.4%);
  --red2: hsl(359, 100%, 98.6%);
  --red3: hsl(360, 100%, 96.8%);
  --red4: hsl(360, 97.9%, 94.8%);
  --red5: hsl(360, 90.2%, 91.9%);
  --red6: hsl(360, 81.7%, 87.8%);
  --red7: hsl(359, 74.2%, 81.7%);
  --red8: hsl(359, 69.5%, 74.3%);
  --red9: hsl(358, 75%, 59%);
  --red10: hsl(358, 69.4%, 55.2%);
  --red11: hsl(358, 65%, 48.7%);
  --red12: hsl(354, 50%, 14.6%); */
  --blackA1: rgba(0, 0, 0, 0.05);
  --blackA2: rgba(0, 0, 0, 0.1);
  --blackA3: rgba(0, 0, 0, 0.15);
  --blackA4: rgba(0, 0, 0, 0.2);
  --blackA5: rgba(0, 0, 0, 0.3);
  --blackA6: rgba(0, 0, 0, 0.4);
  --blackA7: rgba(0, 0, 0, 0.5);
  --blackA8: rgba(0, 0, 0, 0.6);
  --blackA9: rgba(0, 0, 0, 0.7);
  --blackA10: rgba(0, 0, 0, 0.8);
  --blackA11: rgba(0, 0, 0, 0.9);
  --blackA12: rgba(0, 0, 0, 0.95);
  --whiteA1: rgba(255, 255, 255, 0.05);
  --whiteA2: rgba(255, 255, 255, 0.1);
  --whiteA3: rgba(255, 255, 255, 0.15);
  --whiteA4: rgba(255, 255, 255, 0.2);
  --whiteA5: rgba(255, 255, 255, 0.3);
  --whiteA6: rgba(255, 255, 255, 0.4);
  --whiteA7: rgba(255, 255, 255, 0.5);
  --whiteA8: rgba(255, 255, 255, 0.6);
  --whiteA9: rgba(255, 255, 255, 0.7);
  --whiteA10: rgba(255, 255, 255, 0.8);
  --whiteA11: rgba(255, 255, 255, 0.9);
  --whiteA12: rgba(255, 255, 255, 0.95);

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --cmdk-shadow: 0 16px 70px rgb(0 0 0 / 20%);
  --layer-portal: 9999;
  --page-top: 75px;
  --transition-fast: 500ms;
}

.dark {
  /* --gray1: hsl(0, 0%, 8.5%);
  --gray2: hsl(0, 0%, 11%);
  --gray3: hsl(0, 0%, 13.6%);
  --gray4: hsl(0, 0%, 15.8%);
  --gray5: hsl(0, 0%, 17.9%);
  --gray6: hsl(0, 0%, 20.5%);
  --gray7: hsl(0, 0%, 24.3%);
  --gray8: hsl(0, 0%, 31.2%);
  --gray9: hsl(0, 0%, 43.9%);
  --gray10: hsl(0, 0%, 49.4%);
  --gray11: hsl(0, 0%, 62.8%);
  --gray12: hsl(0, 0%, 93%);
  --brown1: hsl(22, 15%, 8.7%);
  --brown2: hsl(20, 28.3%, 10.4%);
  --brown3: hsl(20, 28%, 14%);
  --brown4: hsl(21, 28.4%, 16.5%);
  --brown5: hsl(22, 28.7%, 18.9%);
  --brown6: hsl(23, 29%, 22.3%);
  --brown7: hsl(25, 29.5%, 27.8%);
  --brown8: hsl(27, 30.1%, 35.9%);
  --brown9: hsl(28, 34%, 51%);
  --brown10: hsl(28, 41.4%, 55.8%);
  --brown11: hsl(28, 60%, 64.5%);
  --brown12: hsl(30, 67%, 94%);
  --orange1: hsl(30, 70%, 7.2%);
  --orange2: hsl(28, 100%, 8.4%);
  --orange3: hsl(26, 91.1%, 11.6%);
  --orange4: hsl(25, 88.3%, 14.1%);
  --orange5: hsl(24, 87.6%, 16.6%);
  --orange6: hsl(24, 88.6%, 19.8%);
  --orange7: hsl(24, 92.4%, 24%);
  --orange8: hsl(25, 100%, 29%);
  --orange9: hsl(24, 94%, 50%);
  --orange10: hsl(24, 100%, 58.5%);
  --orange11: hsl(24, 100%, 62.2%);
  --orange12: hsl(24, 97%, 93.2%);
  --yellow1: hsl(45, 100%, 5.5%);
  --yellow2: hsl(46, 100%, 6.7%);
  --yellow3: hsl(45, 100%, 8.7%);
  --yellow4: hsl(45, 100%, 10.4%);
  --yellow5: hsl(47, 100%, 12.1%);
  --yellow6: hsl(49, 100%, 14.3%);
  --yellow7: hsl(49, 90.3%, 18.4%);
  --yellow8: hsl(50, 100%, 22%);
  --yellow9: hsl(53, 92%, 50%);
  --yellow10: hsl(54, 100%, 68%);
  --yellow11: hsl(48, 100%, 47%);
  --yellow12: hsl(53, 100%, 91%);
  --green1: hsl(146, 30%, 7.4%);
  --green2: hsl(155, 44.2%, 8.4%);
  --green3: hsl(155, 46.7%, 10.9%);
  --green4: hsl(154, 48.4%, 12.9%);
  --green5: hsl(154, 49.7%, 14.9%);
  --green6: hsl(154, 50.9%, 17.6%);
  --green7: hsl(153, 51.8%, 21.8%);
  --green8: hsl(151, 51.7%, 28.4%);
  --green9: hsl(151, 55%, 41.5%);
  --green10: hsl(151, 49.3%, 46.5%);
  --green11: hsl(151, 50%, 53.2%);
  --green12: hsl(137, 72%, 94%);
  --blue1: hsl(212, 35%, 9.2%);
  --blue2: hsl(216, 50%, 11.8%);
  --blue3: hsl(214, 59.4%, 15.3%);
  --blue4: hsl(214, 65.8%, 17.9%);
  --blue5: hsl(213, 71.2%, 20.2%);
  --blue6: hsl(212, 77.4%, 23.1%);
  --blue7: hsl(211, 85.1%, 27.4%);
  --blue8: hsl(211, 89.7%, 34.1%);
  --blue9: hsl(206, 100%, 50%);
  --blue10: hsl(209, 100%, 60.6%);
  --blue11: hsl(210, 100%, 66.1%);
  --blue12: hsl(206, 98%, 95.8%);
  --purple1: hsl(284, 20%, 9.6%);
  --purple2: hsl(283, 30%, 11.8%);
  --purple3: hsl(281, 37.5%, 16.5%);
  --purple4: hsl(280, 41.2%, 20%);
  --purple5: hsl(279, 43.8%, 23.3%);
  --purple6: hsl(277, 46.4%, 27.5%);
  --purple7: hsl(275, 49.3%, 34.6%);
  --purple8: hsl(272, 52.1%, 45.9%);
  --purple9: hsl(272, 51%, 54%);
  --purple10: hsl(273, 57.3%, 59.1%);
  --purple11: hsl(275, 80%, 71%);
  --purple12: hsl(279, 75%, 95.7%); */
  --pink1: hsl(318, 25%, 9.6%);
  --pink2: hsl(319, 32.2%, 11.6%);
  --pink3: hsl(319, 41%, 16%);
  --pink4: hsl(320, 45.4%, 18.7%);
  --pink5: hsl(320, 49%, 21.1%);
  --pink6: hsl(321, 53.6%, 24.4%);
  --pink7: hsl(321, 61.1%, 29.7%);
  --pink8: hsl(322, 74.9%, 37.5%);
  --pink9: hsl(322, 65%, 54.5%);
  --pink10: hsl(323, 72.8%, 59.2%);
  --pink11: hsl(325, 90%, 66.4%);
  --pink12: hsl(322, 90%, 95.8%);
  /* --red1: hsl(353, 23%, 9.8%);
  --red2: hsl(357, 34.4%, 12%);
  --red3: hsl(356, 43.4%, 16.4%);
  --red4: hsl(356, 47.6%, 19.2%);
  --red5: hsl(356, 51.1%, 21.9%);
  --red6: hsl(356, 55.2%, 25.9%);
  --red7: hsl(357, 60.2%, 31.8%);
  --red8: hsl(358, 65%, 40.4%);
  --red9: hsl(358, 75%, 59%);
  --red10: hsl(358, 85.3%, 64%);
  --red11: hsl(358, 100%, 69.5%);
  --red12: hsl(351, 89%, 96%); */

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
}

.widget-init {
  opacity: 100 !important;
}

:where(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --header-height: 3.5rem; */
  --header-height: 56px;
}

.light,
.light-theme {
  --amber-a11: color(display-p3 0.61 0.37 0);
  --crimson-a11: color(display-p3 0.729 0.192 0.385);
  --pink-a11: color(display-p3 0.688 0.209 0.518);
  --orange-a11: color(display-p3 0.69 0.29 0.05);
  --red-a11: color(display-p3 0.73 0.22 0.217);
  --ruby-a11: color(display-p3 0.727 0.21 0.31);
  --tomato-a11: color(display-p3 0.701 0.249 0.137);
  --yellow-a11: color(display-p3 0.592 0.392 0);
}

.spotify-button-outline {
  --tw-ring-color: var(--green6);
  background-color: var(--green1);
  border-color: var(--green6);
  border-width: 2px;
  color: var(--green11);
}
