@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/public/fonts/inter/inter-4.0.0-beta9g-var.woff2') format('woff2');
}
:root {
  --font-inter: 'Inter';
  --fonts-mono: var(--fonts-fallback-mono) !important;
  --fonts-sans: var(--font-inter), var(--fonts-fallback-sans) !important;
  --fonts-serif: var(--fonts-fallback-serif) !important;
}
* {
  box-sizing: 'border-box';
}
*:before {
  box-sizing: 'border-box';
}
*:after {
  box-sizing: 'border-box';
}

body {
  background-color: var(--colors-body);
  font-feature-settings: '"calt", "zero", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv08", "cv09", "cv10", "cv11"';
  font-family: var(--font-inter);
  margin: 0;
  -webkit-text-size-adjust: '100%';
}

body.loading * {
  transition: 'none !important';
}

button,
textarea {
  font-family: var(--font-inter);
  font-feature-settings: inherit !important;
}

svg {
  display: 'block';
  vertical-align: 'middle';
}

pre,
code {
  margin: 0;
  font-family: var(--fonts-mono);
}

#__next {
  position: 'relative';
  z-index: 0;
}

.light-theme [data-hide='dark'],
.dark-theme [data-hide='light'] {
  display: 'none';
}
