.trailsText {
  @apply text-6xl tracking-tight leading-normal font-extrabold;
  @apply bg-clip-text;
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500;
  @apply dark:bg-gradient-to-l;
  will-change: transform, opacity;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
}
