@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/public/fonts/inter/inter-4.0.0-beta9g-var.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  src: url('/public/fonts/geist/GeistVF--1.0.0.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  src: url('/public/fonts/geist/GeistMonoVF--1.0.0.woff2') format('woff2');
}
