/* @todo(tailwind) */

.toastArea {
  @apply fixed max-w-sm bottom-4 right-4 z-40;
  transition: transform 0.4s ease, bottom 0.4s ease;
}

.toastContainer {
  @apply absolute bottom-0 right-0 rounded p-6 z-40;
  transition: all 0.4s ease;
}

.toast {
  @apply max-w-full w-96 items-center justify-between flex text-sm;
  transition: all 0.4s ease;
}

.toastMessage {
  @apply flex flex-row items-end justify-between;
  @apply -mt-1 w-full h-full;
  transition: opacity 0.4s ease;
}
