/**
* @note use `>` so we only do the Preview Content from Notion
* This removes the Preview Portion from Notion posts that appear in Listing
* @todo Apply no-sr
**/
/* #content > p:first-of-type,
#content > hr:first-of-type,
.contentContainer > p:first-of-type,
.contentContainer > hr:first-of-type {
  display: none;
  visibility: hidden;
} */

.row {
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
}
.columnContainer {
  display: flex;
  flex-direction: row;
  /* // padding: 0 0.5rem; */
}
.column {
  flex: 1;
  padding-right: 0.75rem;
}
.column:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 640px) {
  .columnContainer {
    flex-direction: column;
    padding: 0.5rem 0;
  }
}
