::selection {
  @apply bg-black;
  @apply text-white;
  -webkit-text-fill-color: white;
}

.dark ::selection {
  @apply bg-white;
  @apply text-black;
  -webkit-text-fill-color: black;
}

/* #now-playing ::selection {
  @apply bg-gray-900;
  @apply text-green-200;
} */

#now-playing {
  transition: none !important;
}
