:root {
  --black: #181818;
  --white: #f4f4f4;
  --primary: var(--white);
  --primary-2: #f1f3f5;
  --secondary: var(--black);
  --secondary-2: #111;

  --selection: var(--cyan);

  --text-base: var(--black);
  --text-primary: var(--black);
  --text-secondary: var(--white);

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);

  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;

  --blue: #0070f3;

  --violet-light: #7048e8;
  --violet: #5f3dc4;

  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: 'Inter', -apple-system, system-ui, BlinkMacSystemFont,
    'Helvetica Neue', 'Helvetica', sans-serif;

  --error-dark: #c50000;
  --error-light: #ff1a1a;
  --error-lighter: #f7d4d6;
  --error: #c50000;
  --info-dark: #0761d1;
  --info-light: #3291ff;
  --info-lighter: #d3e5ff;
  --info: #07438b;
  --success-dark: #07438b;
  --success-light: #3291ff;
  --success-lighter: #d3e5ff;
  --success: #07438b;
  --warning-dark: #ab570a;
  --warning-light: #f7b955;
  --warning-lighter: #ffefcf;
  --warning: #ab570a;

  --space: 4px;
  --space-2x: 8px;
  --space-4x: 16px;
  --space-8x: 32px;
  --space-16x: 64px;
  --space-24x: 96px;
  --space-32x: 128px;
  --space-48x: 192px;
  --space-64x: 256px;
  --space-small: 32px;
  --space-medium: 40px;
  --space-large: 48px;
  --space-gap: 24px;
  --space-gap-half: 12px;
  --space-gap-quarter: var(--space-2x);
  --gap: var(--space-gap);
  --gap-half: var(--space-gap-half);
  --gap-quarter: var(--space-gap-quarter);
  --gap-double: var(--space-large);
  --space-negative: -4px;
  --space-2x-negative: -8px;
  --space-4x-negative: -16px;
  --space-8x-negative: -32px;
  --space-16x-negative: -64px;
  --space-24x-negative: -96px;
  --space-32x-negative: -128px;
  --space-48x-negative: -192px;
  --space-64x-negative: -256px;
  --space-small-negative: -32px;
  --space-medium-negative: -40px;
  --space-large-negative: -48px;
  --space-gap-negative: -24px;
  --space-gap-half-negative: -12px;
  --space-gap-quarter-negative: var(--space-2x-negative);
  --gap-negative: var(--space-gap-negative);
  --gap-half-negative: var(--space-gap-half-negative);
  --gap-quarter-negative: var(--space-gap-quarter-negative);
  --gap-double-negative: var(--space-large-negative);
  --page-margin: var(--space-gap);
  --page-width: 1000px;
  --page-width-with-margin: 1048px;
  --radius: 5px;
  --marketing-radius: 8px;
}

.dark,
[data-theme='dark'] {
  --primary: var(--black);
  --primary-2: #111;
  --secondary: var(--white);
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: var(--white);
  --text-primary: var(--white);
  --text-secondary: var(--black);

  --accents-0: #212529;
  --accents-1: #343a40;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #e9ecef;
  --accents-8: #f1f3f5;
  --accents-9: #f8f9fa;

  --info: #0070f3;
  --error: #ee0000;
  --success: #0070f3;
  --warning: #f5a623;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}

html.nprogress-busy {
  @apply cursor-wait;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.imageCaption::before {
  content: '📷';
  margin-right: 0.5rem;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated05 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated025 {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
